body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; 
  background-color: rgb(93, 195, 246)
}

th {
  width: 500px;
  height: 400px;
  padding-top:25px;
  padding-bottom:30px;
  text-align: center;

}

td {
  padding: 5px;

}

tr {
  background-color: pink;
}

.time {
  height: 40px;
}